:root {
    --cor-titulo: #5C1362;
    --cor-de-fundo: #FBF4E8;
    --cor-branca: white;
    --cor-linha: #2A516E;
    --cor-subtitulo: #352C84;
    --font-padrao: "Rubik", sans-serif;
    --font-texto: "Red Hat Display", sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

::-webkit-scrollbar-thumb{
    background-color: var(--cor-titulo);
    border-radius: 50px;
}
::-webkit-scrollbar{
    width: 10px;
}

body {
    font-family: var(--font-padrao);
    /* background-image: url(./img/fundo3.jpeg); */
    /* background-image: cover; */
    /* filter:blur(1px); */
    background-color: var(--cor-de-fundo);
}
.forms {
    margin-top: 10%;
}
.cadastro {
    /* LOCALIZAÇÂO */

    width: 400px;
    margin: 0 auto;
    padding: 10px 80px;

    /* ESTILIZAÇÂO  */

    font-family: var(--font-padrao);
    border: 1px solid #ccc;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;

    /* DIRECIONAMENTOS */

    display: flex; /* habilitar o layout flex */
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 

}

.cadastro {
    margin-top: 10vh; 
    border-left: 1px solid black;
    border-top: 1px solid black;
    /* filter: blur(1px); */
}
.cadastro:hover {
    opacity: 0.97;
    /* transition: 0.4s; */
    width: 401px;
}
/* @media (max-width: 999px) {corrigir
    .cadastro{width: 100vw;}
    
  } */
.input {
    width: 100%;
    padding: 10px;
    margin: 10px -8px 0 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: var(--font-texto);
}
.input:focus {
    outline: none;
    border-color: #000000;
}
input:focus {
    caret-color: rgb(0, 0, 0);
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    margin-bottom: 10%;
    margin-left: 3.7%;
    margin-top: 10%;
}

button:hover {
    background-color: #45a049;
}

